<div class='picture-rail'>
  <div class='sub-item wide-only'>
    <img src="/large/deck.jpg"></img>
  </div>
  <div class='sub-item'>
    <img src="/large/outside-mobile.jpg"></img>
  </div>
  <div class='sub-item wide-only'>
    <img src="/large/tables.jpg"></img>
  </div>
</div>

<div class='info-box contact'>
  <strong>Postal Address: </strong>
  Northfield House Hotel,
  Lasswade Road,
  Edinburgh,
  EH16 6UD
  Scotland
</div>

<div class='info-box contact'>
  <strong>Telephone: </strong>
   +44 (0)131 664 2466
</div>

<div class='info-box contact'>
  <strong>Email: </strong>
   info@northfieldhoteledinburgh.co.uk
</div>
