<div class='picture-rail'>
  <div class='sub-item wide-only'>
    <img src="/outside/deck.jpg"></img>
  </div>
  <div class='sub-item'>
    <img src="/outside/outside.jpg"></img>
  </div>
  <div class='sub-item wide-only'>
    <img src="/restaurant/tables.jpg"></img>
  </div>
</div>

<div class='info-box contact'>
  <strong>Postal Address: </strong>
  <address>
    Northfield House Hotel <br>
    Lasswade Road <br>
    Edinburgh <br>
    EH16 6UD <br>
    Scotland <br>
  </address>
</div>

<div class='info-box contact'>
  <strong>Telephone: </strong>
   +44 (0)131 664 2466
</div>

<div class='info-box contact'>
  <strong>Email: </strong>
   <a href="mailto:info@northfieldhoteledinburgh.co.uk">info@northfieldhoteledinburgh.co.uk</a>
</div>
