<!-- <div class='body-item'>
  <div>
    <img src="/images/outside.jpg">
  </div>
</div>

<div class='body-item'>
    A delightful house set in its own grounds, is ideally located just 5 minutes from the city bypass, 10-15 minutes from Edinburgh International Airport and only 15 minutes from Edinburgh city centre.
    The hotel offers a friendly, relaxed, family run environment and is extremely popular with both visitors and local clientele alike.
    The hotel specialises in catering for private functions, and small business meetings.
    Northfield House is in a perfect location for those wishing to explore the many visitor attractions Edinburgh and the surrounding area has to offer, and it has easy access to the city centre by public transport and private vehicle.
</div>

<div class='body-item'>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2236.4249339340367!2d-3.155625284063438!3d55.90733198059497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce07d7f67ed35fac!2sNorthfield+House+Hotel!5e0!3m2!1sen!2suk!4v1479457750748" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class='body-item'>
  Open Everyday: 11.30am - 6.30pm
</div> -->
