<div class='menu'>
  <div class='course'>
    <span class="course-header">Starter</span>
    <div class='menu-item'>
        Soup: £3.50
    </div>
    <div class='menu-item'>
        Smoked Salmon: £2.50
    </div>
  </div>
  <div class='course'>
    <span class="course-header">Main</span>
    <div class='menu-item'>
        Fish and Chips: £7.50
    </div>
    <div class='menu-item'>
        Spicy Chicken Burger: £1.50
    </div>
  </div>
  <div class='course'>
    <span class="course-header">Dessert</span>
    <div class='menu-item'>
        Sticky Toffee Pudding: £2.50
    </div>
    <div class='menu-item'>
        Strawberry Cheescake: £3.50
    </div>
  </div>
</div>
