<div class='menu'>
  <div class='course'>
    <span class="course-header">Starters</span>

    <div class='menu-item'>
      SOUP OF THE DAY<br>
      <small>with crusty bread</small>
       3.95
    </div>
    <div class='menu-item'>
      SEA FOOD DUO<br>
      <small>Prawn Cocktail & Smoked Salmon in a citrus dressing</small>
      5.50
    </div>
    <div class='menu-item'>
      GARLIC BREAD<br>
      <small>with melted mozzarella</small> 3.95
    </div>
    <div class='menu-item'>
      TERRINE, TOAST & ONION CHUTNEY<br>
      <small>Ask server for today's terrine</small> 4.50
    </div>
    <div class='menu-item'>
      HAGGIS SAMOSA<br>
      <small>with chili jam 5.00</small>
    </div>
    <div class='menu-item'>
      CRISPY COCONUT CHICKEN STRIPS<br>
      <small>with mango chutney 5.50</small>
    </div>
  </div>
  <div class='course'>
    <span class="course-header">Main</span>
    <div class='menu-item'>
    BAKED FISH<br>
    <small>in a lemon & dill sauce with green beans & red potatoes</small>
    10.95
    </div>
    <div class='menu-item'>
    SEARED FILLET OF SEA BASS<br>
    <small>in a garlic, herb & citrus butter with asparagus & jersey
    royals</small> 10.95
    </div>
    <div class='menu-item'>
    CHICKEN JALFREZI<br>
    <small>fresh coriander, served with oven baked naan bread &
    rice</small> 10.95
    </div>
    <div class='menu-item'>
    CAJUN CHICKEN & PINEAPPLE BURGER<br>
    <small>topped with cheddar & sour cream with chunky chips</small>
    10.50
    </div>
    <div class='menu-item'>
    HOME-MADE BURGER<br>
    <small>red onion, Beef tomato, lettuce, topped with cheddar
    served with chunky chips</small> 10.50
    </div>
    <div class='menu-item'>
    GRILLED 8OZ RIBEYE STEAK<br>
    <small>tomato, homemade onion rings, chips & salad</small> 15.95
    </div>
    <div class='menu-item'>
    SPIRELLI PASTA<br>
    <small>bound in a three cheese sauce with garlic bread</small> 9.50
    </div>
    <div class='menu-item'>
    BEER-BATTERED HADDOCK & CHUNKY CHIPS<br>
    <small>mushy peas & tartar sauce</small> 10.95
    </div>
    <div class='menu-item'>
    THAI-STYLE BEEF SALAD<br>
    <small>Lemony-flavored coriander leaves with cucumber, mint
    & rare beef</small> 11.50
    </div>
    <div class='menu-item'>
    WALDORF SALAD<br>
    <small>fresh apples, celery, walnuts dressed in mayonnaise</small>
    8.95
    </div>
  </div>
  <div class='course'>
    <span class="course-header">Side Orders 2.25</span>
    <div class='menu-item'>
    GARLIC CIABATTA
    </div>
    <div class='menu-item'>
    SPICY POTATO WEDGES
    </div>
    <div class='menu-item'>
    CURLY FRIES
    </div>
    <div class='menu-item'>
    ONION RINGS
    </div>
    <div class='menu-item'>
    MINI CORNS ON THE COB
    </div>
  </div>
</div>
