<div class='picture-rail'>
  <div class='sub-item wide-only'>
    <img src="/restaurant/conservatory.jpg"></img>
  </div>
  <div class='sub-item'>
    <img src="/restaurant/dining-fire.jpg"></img>
  </div>
  <div class='sub-item wide-only'>
    <img src="/large/tables.jpg"></img>
  </div>
</div>


<div class='info-box'>
  <div class='info-pic'>
    <img class='rounded' src="/large/tables.jpg"></img>
  </div>
  <div class='info-text'>
    <p>
      <strong> The conservatory restaurant </strong>  serves a selection of evening meals, lunches, and wonderful home-baking for those just wishing to relax for a while in the surroundings.
    </p>
    <p>
      Click <a href="/menu">here</a> to see our menu.
    </p>
  </div>
</div>

<div class='info-box'>
  <div class='info-text'>
    <p>
      The original <strong> dining room </strong> entrance is on the opposite side of the main hallway. Currently styled in pine fittings and furniture. This newly furbished room offers a stylish venue not only for extra diners, but in particular for the smaller, private function.
    </p>
  </div>
  <div class='info-pic'>
    <img class='rounded' src="/restaurant/dining-fire.jpg"></img>
  </div>
</div>
