<div class='picture-rail'>
  <div class='sub-item wide-only'>
    <img src="/large/deck.jpg"></img>
  </div>
  <div class='sub-item'>
    <img src="/large/outside-mobile.jpg"></img>
  </div>
  <div class='sub-item wide-only'>
    <img src="/large/tables.jpg"></img>
  </div>
</div>

<div class='info-box'>
  <div class='info-pic'>
    <img class='rounded' src="/square/mat.jpg"></img>
  </div>
  <div class='info-text'>
    <p>
      Here at the Northfield we offer a high standard of service and accommodation. The hotel has two double rooms, a twin and one single, all rooms en-suite.
    </p>
  </div>
</div>

<div class='info-box'>
  <div class='info-text'>
    <p>
      To book contact us directly at on
      Or online Click Here (Link opens in a new window)
    </p>
  </div>
  <div class='info-pic'>
    <img class='rounded' src="/square/mat.jpg"></img>
  </div>
</div>
