<div class='picture-rail'>
  <div class='sub-item wide-only'>
    <img src="/rooms/room-1.jpg"></img>
  </div>
  <div class='sub-item'>
    <img src="/rooms/bed-2.jpg"></img>
  </div>
  <div class='sub-item wide-only'>
    <img src="/rooms/room-2.jpg"></img>
  </div>
</div>

<div class='info-box'>
  <div class='info-pic'>
    <img class='rounded' src="/rooms/bed-2-square.jpg"></img>
  </div>
  <div class='info-text'>
    <p>
      Here at the Northfield we offer a high standard of service and accommodation. The hotel has two double rooms, a
      twin and one single, all rooms en-suite.
    </p>
  </div>
</div>

<div class='info-box'>
  <div class='info-text'>
    <p>
      To book, call us on <i class="fa fa-phone" aria-hidden="true"></i> +44 (0)131 664 2466<br>
      or email <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@northfieldhoteledinburgh.co.uk">info@northfieldhoteledinburgh.co.uk</a>
    </p>
    <p>Or book online
      <a href="https://www.freetobook.com/affiliates/reservation.php?w_id=26076&amp;w_tkn=wGvdvpDBUA6fRmN4C9sEVg9q8g2w3jNFCav3KEyNC3AQn9mI8DhmNIzWgrayO"><img
          src="/icons/btn1.gif" alt="book it"></a>
    </p>
  </div>
  <div class='info-pic'>
    <img class='rounded' src="/rooms/room-2-square.jpg"></img>
  </div>
</div>