@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html{
  width: 100%;
}


body{
  margin: 0px;
  overflow-x: hidden !important;
  height:100%;
  font-family: 'Cinzel', serif;
  background-color: #eaeaea;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

a{
  color: black;
}

.additional-right{
  position: absolute;
  right: 0px;
  margin-right: 8px;
  margin-top: 8px;
}

.additional-left{
  position: absolute;
  left: 0px;
  margin-left: 8px;
  margin-top: 8px;
}


.title-header{
  width:100%;
  font-size:16px;
  flex: 2;
  text-align:center;
  background-color: #f4f4f4;
  /*background-color: #ffffee;*/
  /*margin-top: 10px;*/
}


.nav{
  display: flex;
  flex-direction: row;
  /*margin-bottom: 40px;*/
  flex: 1;
  margin-top: 15px;
  margin-bottom: 15px;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 12;
  /*flex-direction: column;
  display: flex;

  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.nav-item{
  margin: 5px;

}

a.selected{
  /*color:blue;*/
  font-weight:bolder;
}

.picture-rail{
  /*border: 1px solid black;*/
  /*margin: 10px;
  padding: 10px;*/
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 8;
  align-items: center;
  justify-content: center;
}

.sub-item{
  flex:1 ;
  margin: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

@media (max-width: 800px) {
  .wide-only {
    display: none;
  }
  .info-pic {
    display: none;
  }

  .title-header{
    padding-top: 46px;
  }

}

.info-box{
  font-size:20px;
  font-family: 'Cormorant Garamond', serif;
  /*font-family: sans-serif;*/


  display: flex;
  flex-direction:row;
  /*flex: 1;*/
  /*margin: 20px;*/
  /*border: 1px solid #886699;*/
  border-radius: 10px;
  background-color: #f4f4f4;
  /*align-items: center;*/
  max-width: 800px;
  /*width: 100%;*/
  /*margin:10px;*/
  margin-top: 20px;
  align-items: center;
  justify-content: space-around;

}

.info-pic{
  padding:20px;
  flex: 1;
}

.info-text{
  align-items: center;
  padding: 20px;
  flex: 3;
  text-align:center;
}

.rounded{
  border-radius: 50%;
  width:200px;
  height:200px;
}

.blue{
  color: #14146c;
}

.large{
  font-size: 20px;
}

.contact{
  padding: 20px;
  flex-direction: column;
}

.menu{
  font-family: 'Cormorant Garamond', serif;
  background-color: #ffffee;
  padding: 15px;
  border-radius:5px;
  margin-top:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.menu-item{
  margin-top:20px;
}

.course{
  text-align: center;
  margin-bottom: 20px;
}

.course-header{
  font-size: 22px;
  font-weight:bold;
  text-decoration: underline;
  padding-bottom:50px;
}

footer{
  font-size: 9px;
  /*width:100%;*/
  margin-top: 15px;
  margn-bottom:10px;
  border-top: thin solid black;
  text-align: center;
}
