@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html{
  height:100%;
  width: 100%;
}


body{
  margin: 0px;
  /*overflow-x: hidden !important;*/
  height:100%;
  font-family: 'Cinzel', serif;
  background-color: #eaeaea;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;;
}

a{
  color: black;
}

.title-header{
  width:100%;
  font-size:16px;
  flex: 1;
  text-align:center;
}


.nav{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  flex: 1;
}

.main{
  flex: 1;
}

.nav-item{
  margin: 5px;
}

.picture-rail{
  /*border: 1px solid black;*/
  /*margin: 10px;
  padding: 10px;*/
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 8;
  align-items: center;
  justify-content: center;
}

.sub-item{
  flex:1 ;
  margin: 0px;
  display:flex;
  align-items: center;
  justify-content: center;
  /*padding: 2px;*/
}

@media (max-width: 600px) {
  .wide-only {
    display: none;
  }
  .info-pic {
    display: none;
  }
}

.info-box{
  /*font-size:20px;*/
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  flex-direction:row;
  flex: 1;
  /*margin: 20px;*/
  /*border: 1px solid #886699;*/
  border-radius: 10px;
  background-color: #f4f4f4;
  /*align-items: center;*/
  max-width: 1000px;
  /*width: 100%;*/
  margin:10px;
  align-items: center;

}

.info-pic{
  padding:10px;
}

.info-text{
  align-items: center;
  padding: 20px;
  flex: 1;
  text-align:center;
}

.rounded{
  border-radius: 50%;
}
