@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

html{
  height:100%;
}


body{
  height:100%;
  font-family: 'Cinzel', serif;
  background-color: #eaeaea;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a{
  color: black;
}

.title-header{
  width:100%;
  font-size:20px;
  flex: 1;
  text-align:center;
}


.nav{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.nav-item{
  margin: 5px;
}

.picture-rail{
  /*border: 1px solid black;*/
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;

}

.sub-item{
  margin: 0px;
  padding: 2px;
}

.info-box{
  font-size:20px;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  flex-direction:row;
  flex: 1;
  margin: 20px;
  /*border: 1px solid #886699;*/
  border-radius: 10px;
  background-color: #f4f4f4;
  margin-left: 100px;
  margin-right:100px;
  max-width: 1000px;
}

.info-pic{
  padding:10px;
}

.info-text{
  padding: 20px;
}

.rounded{
  border-radius: 50%;
}
